:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(240, 240, 240);
    --entry: rgb(206, 206, 206);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(66, 66, 66);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(5, 5, 5);
    --hljs-bg: rgb(43, 43, 43);
    --code-bg: rgba(214, 214, 214, 0.945);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(22, 25, 27); /*background*/
    --entry: rgb(31, 36, 37); /*post, ToC background*/
    --primary: rgba(199, 149, 13, 0.945); /*big text, header, title (197, 149, 7) (190, 148, 33)*/
    --secondary: rgb(236, 236, 236); /*front page, footer, date text*/
    --tertiary: rgb(12, 12, 12); /*tag background, scrollbar*/
    --content: rgb(221, 221, 221); /*main text*/
    --hljs-bg: rgb(31, 36, 37); /*code block background*/
    --code-bg: rgb(19, 19, 17); /*in-line code background*/
    --border: rgba(122, 122, 122, 0.664); /*tag and ToC border*/
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}