:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(235, 235, 235);
    --entry: rgb(223, 223, 223);
    --primary: rgba(199, 149, 13, 0.945);
    --secondary: rgb(66, 66, 66);
    --tertiary: rgb(224, 224, 224);
    --content: rgb(5, 5, 5);
    --hljs-bg: rgb(59, 59, 59);
    --code-bg: rgb(207, 207, 207);
    --border: rgb(70, 70, 70);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: rgb(22, 25, 27); /*background*/
    --entry: rgb(31, 36, 37); /*post, ToC background*/
    --primary: rgba(199, 149, 13, 0.945); /*big text, header, title (197, 149, 7) (190, 148, 33)*/
    --secondary: rgb(236, 236, 236); /*front page, footer, date text*/
    --tertiary: rgb(12, 12, 12); /*tag background, scrollbar*/
    --content: rgb(221, 221, 221); /*main text*/
    --hljs-bg: rgb(31, 36, 37); /*code block background*/
    --code-bg: rgb(19, 19, 17); /*in-line code background*/
    --border: rgba(122, 122, 122, 0.664); /*tag and ToC border*/
    color-scheme: dark;
}

.list {
    background: var(--theme);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
